body{
    color:#fff;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1:hover{
    background-color: aquamarine;
    transition: 1s all;
}
